.box{
    width: 200px;
    height: 200px;
    border: 2px solid bisque;
    /* overflow: auto; */
    overflow: hidden;
    /* overflow-y: scroll; */
    /* overflow-x: scroll; */
    overflow-y: auto;
}
.ellipsis{
    width: 100px;
    white-space: nowrap;
    border: 2px solid blueviolet;
    overflow: hidden;
    text-overflow: ellipsis;
}