.box{
    width: 100px;
    height: 100px;
    border: 2px solid salmon;
    margin-bottom: 10px;
    border-radius: 2px;
    background-color: aquamarine;
    
    transition: transform 3s 1s ;
    /* transition: width 3s ,background-color 4s ease-in 3s; */
    

}
.box:hover{

    /* width: 300px;
    background-color: coral; */
    transform: rotate(45deg) scale(0.5) translateX(150px);
}
.box1{
width: 100px;
height: 100px;
background-color: brown;
transition: transform 3s 1s ;
}
.box1:hover{
    transform: rotate(45deg) scale(0.5) translateY(-200px);
}