h2{
    background-color: rebeccapurple;
    display: inline-block;
}
p{
    background-color: rgba(236, 17, 236, 0.363);
     font-style: initial; color: azure;
     background-size: auto;
     display: inline-block;
}